@tailwind base;
@tailwind components;
@tailwind utilities;
.skeleton-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton {
    background: #e0e0e0; /* Light gray background */
    border-radius: 4px; /* Rounded corners */
    animation: loading 1.5s infinite;
}

.skeleton.loading {
    height: 250px; /* Height of the skeleton */
    width: 350px; /* Full width */
}

@keyframes loading {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #e0e0e0; /* Slightly lighter */
    }
    100% {
        background-color: #e0e0e0;
    }
}
